<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <!--<p th:text="'Hello, ' + ${name} + '!'" /> comment out-->
    
    <form action="/submitted" id="myform">
      Author <input type="text" name="author"/><br />
      Title <input type="text" name="title"/><br />
      Year <input type="text" name="year"/><br />
      Journal <input type="text" name="journal"/><br />
      <input type="submit" value="Add" onClick="return empty();"/>
    </form>
    
    <script>
        function empty() {
            var x;
            x = document.getElementById("myform").elements["author"].value;
            alert("click!")
            if (x == "") {
                alert("Invalid Author Name");
            return false;
        };
    }
    </script>
    
</body>
</html>

